:root {
    --pink: #fb2475;
    --hover: #2a2a2a;
}

.mode-wrapper {
    margin-top: 5vh;
    margin-right: 7vw;
    margin-bottom: 10.5vh;
}

.cards-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-gap: 10px;
}

.card__header {
    margin-bottom: 8px;
    height: calc(3.5vw + 6px);
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: border 0.25s ease;
}
.card__header:hover .card__header__content__dot {
    background-color: #fff;
}
.card__header:hover .card__header__content__arrow {
    border-color: transparent #fff transparent transparent;
}
.card__header img {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}
.card__header__content {
    display: flex;
    align-items: center;
    padding-left: 15px;
    height: 100%;
}
.card__header__content__dot {
    padding: calc(0.2vw + 3px);
    margin-right: 15px;
    background-color: var(--pink);
    transition: background-color 0.25s ease;
}
.card__header__content__title {
    text-shadow: 0px 0px 4px #fff;
    text-transform: uppercase;
}

.card__body__content {
    padding: 10px;
    position: relative;
    margin-bottom: 10px;
    z-index: 1;
    min-height: calc(8.5vh + 10px);
    border-radius: 7px;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.card__body__content::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 7px;
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    z-index: -1;
}
.card__body__content--small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: calc(1vh + 10px);
}
.card__body__content__title {
    font-weight: bold;
    font-style: italic;
    line-height: 1.11;
    text-align: left;
}
.card__body__content__artist, .card__body__content__host {
    line-height: 1.11;
}
.card__body__content__count {
    font-size: calc(1vw + 1em);
    text-align: right;
    text-shadow: 0px 0px 4px #fff;
    margin-top: auto;
}
.card__body__content__count--small {
    font-size: calc(1em);
    text-shadow: 0px 0px 4px #fff;
    text-align: right;
}

/* Expanded */
.card__header__content__arrow {
    margin-left: 15px;
    margin-right: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.8vw 1vw 0.8vw 0;
    border-color: transparent var(--pink) transparent transparent;
    transition: border-color 0.25s ease;
}
.card__body__content--expanded {
    display: grid;
    grid-template-columns: calc(3vw + 6px) 1fr;
    grid-gap: 8px;
}
.card__body__content__header {
    padding: 0 10px;
    margin-bottom: 10px;
}
.card__body__content__header > div {
    text-transform: uppercase;
}
.card__body__content--small > div {
    flex: 1 1 20%;
}
.card__body__content--small > .card__body__content__title--small {
    flex: 1 1 40%;
}
.card__body__content--small {
    text-shadow: 0px 0px 4px #fff;
}
.card__body__content__number {
    font-size: calc(1vw + 0.7em);
    font-weight: bold;
    text-align: center;
}

/* stats */
.card__body__content__stat-title {
    font-size: calc(1vw + 1.7em);
}
.card__body__content__stat-ammount {
    font-size: calc(1vw + 1.5em);
    text-align: right;
    text-shadow: 0px 0px 4px #fff;
}
